@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@700&family=Rokkitt&display=swap');
body{
    background-color:#20262E ;
    font-family: rokkitt;
    color: #CD5888;
}
.cabecalho{
    text-align: center;
    font-family: cormorant;
}
  .cabecalho .redes-sociais{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
     gap: 25px ;
  }
   .cabecalho .redes-sociais a{
    width: 100px;
    border: solid 1px ;
    background-color:#913175;
    color: #E9E8E8;
    padding: 8px 0px;
    text-align: center;
    border-radius: 8px;
   }

.container .letra{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.container .foto{
    display: flex;
    flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 8px;
}
    .foto img{
    display: flex;
    justify-content: center;
    height: 20%;
    width: 20%;
   
    }